
body{
	margin: 0;
	background-color: #e2f0bb;
}
h1{
	display: inline-block;
	font-size: 70px;
	margin: 40px 0 20px 0;
	font-family: 'Baloo', cursive;
}
h2{
	margin: 0 0 40px 0;
	font-size: 30px;
	font-family: 'Source Sans Pro', sans-serif;
}
img{
	size: 100%
}
.lema{
	display: inline-block;
}
.background{
	background-image: url(../images/background.png);
	background-size: cover;
}
.logotipo{
	margin: 0;
	display: inline-block;
	padding: 30px 50px;
	top:auto;
	bottom: auto;
}
.pandas .tamaño{
	display: block;
	margin: 50px auto;
	border: 10px solid #83cfa1;
}
.panda1{
	max-width: 640px;
	width: 90%;	
}
.panda2{
	max-width: 700px;
	width: 90%;	
}
.panda3{
	max-width: 720px;
	width: 90%;	
}
.panda4{
	max-width: 500px;
	width: 90%;	
}
.panda5{
	max-width: 236px;
	width: 90%;	
}
.panda6{
	max-width: 236px;
	width: 90%;	
}
.panda7{
	max-width: 700px;
	width: 90%;	
}
.panda8{
	max-width: 430px;
	width: 90%;	
}
.panda9{
	max-width: 274px;
	width: 90%;	
}

.b-lazy {
        -webkit-transition: opacity 500ms ease-in-out;
           -moz-transition: opacity 500ms ease-in-out;
             -o-transition: opacity 500ms ease-in-out;
                transition: opacity 500ms ease-in-out;
                 max-width: 100%;
                   opacity: 0;
    }
.b-lazy.b-loaded {
                   opacity: 1;
  }

@media screen and (max-width: 800px) {
	h1{
		margin: 0;
	}
	h2{
		padding: 0 0 20px 0;
	}
	.logotipo{
		display: block;
		padding: 20px 0 0 0;
		text-align: center;
	}
	.lema{
		display: block;
		text-align: center;
	}
}
